<div class="position-relative overflow-hidden  p-md-5  text-center bg-light">
    <img src="../../../assets/resources/me.jpg">
    <h1 class="display-4 font-weight-normal">Who I Am</h1>
    <p class="lead font-weight-normal">My name is Luciano Gil, I am a fullstack developer and my github is:</p>
    <a class="btn btn-outline-secondary" href="https://github.com/luchodbr">Git</a>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>