.containerApp {
    background-image: url(https://snz04pap002files.storage.live.com/y4mePmRsiPcOXcfns_-SUM5tWfHzAh8uvANUvCJhFuJuadvaQCFKo1zPa7w7tMpej9SoSqOmZv4CSkXYxwuqTV1L4mtRGnNqGMNkMb8SOKaLzkttBbZVj-4KdzrbimI1kJPl2J3l-9NarDTpYpzV6naveJLKqR5GalHK6pcOAgyO8Y5D110upnkezsepvBuzQCJ?width=5400&height=3600&cropmode=none);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}