$color-orange: #FFB300;

//Change the size of the button (padding around the text)
$button-padding-vertical: .7em;
$button-padding-horizontal: 1em;

$button-text-font: 'Tahoma';
$button-text-color: #fff;
$button-text-shadow: 0 1px 3px rgba(#000, .1);

//Amount to shift the button when active
$button-active-offset: .05em;
$button-animation-time: .1s;

$button-border-radius: .15em .15em .125em .125em;


.vara {
    height: 70px;
    width: 15px;
    background-color: #aaa;
    margin: auto;
    position: relative;
    top: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #000;
    border-top: 5px solid #000;
    z-index: 1000;
}

img {
    transition: all 5s;
}


@mixin button-effects($color ) {
    $darker: darken($color, 5%);
    $darkest: darken($color, 10%);

    background: $color;
    box-shadow: inset 0 -.12em $darker;

    &:active {
        background: $darker;
        box-shadow: inset 0 .05em $darkest;
    }
}

.button {
    border: 0;
    margin-top: 2rem;
    border-radius: $button-border-radius;
    color: $button-text-color;
    cursor: pointer;
    font-family: $button-text-font;
    font-weight: 700;
    letter-spacing: 0.02em;
    z-index: 1000;
    padding: $button-padding-vertical $button-padding-horizontal;
    text-shadow: $button-text-shadow;
    transition: background $button-animation-time, padding $button-animation-time, margin $button-animation-time, box-shadow $button-animation-time, color $button-animation-time, text-shadow $button-animation-time;

    &--orange {
        @include button-effects($color-orange );
    }

    &:active {
        color: rgba($button-text-color, .9);
        margin-top: $button-active-offset;
        padding-bottom: $button-padding-vertical - $button-active-offset;
        text-shadow: none;
    }

    &:focus {
        outline: 0;
    }
}

.large-font {
    font-size: 36px;
}

.tabla {
    position: absolute;
    right: 5%;
    top: 25%;
}

.score {
    position: absolute;
    top: 1;
    left: 0;
    margin-left: 1vh;
}